html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
body {
  padding-top: 54px;
  background-color: #BFBFBF;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
/* INDEX PAGE */
.jumbo-fix1{
  margin-top: 2%;
}
.jumbo-fix,
.jumbo-fix1{
  text-align: center;
}
.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 50px 0px 60px 5%;
    margin: 0;
    width: 100% !important;
    text-align: center;
}
.files input:focus{
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{
  position:relative;
}
 @media screen and (min-width: 768px) {
  .files:before {
      position: absolute;
      bottom: 10px;
      left: 0;
      pointer-events: none;
      width: 75%;
      right: 0;
      content: " Upload or drag your file here. ";
      display: block;
      margin: 0 auto;
      color: #2ea591;
      font-weight: 600;
      font-size: 120%;
      text-transform: capitalize;
      text-align: center;
  }
}
div#loading {
    min-height: 480px;
    width: auto;
    margin: auto;
    padding-top: 10%;
    display: none;
    cursor: wait;
    background-color: #727F8C;
}
.loadingText{
  text-align: center;
  color: white;
}
.loadingImg{
  display: block;
  margin: 0 auto;
}
/* REVIEW PAGE */
.words{
  margin:20px 0 0 0;
}
.words label.btn-default.active{
  background-color: red;
  color:#FFF;
}
.words label.btn-default{
  width:100%;
  border:1px solid #efefef;
  margin:5px;
  box-shadow:2px 4px 4px 0 #ccc;
}
.words label .bizcontent{
  width:100%;
}
.words .btn-group{
  width:100%;
}
.words .btn span.glyphicon{
    opacity: 0;
}
.words .btn.active span.glyphicon {
    opacity: 1;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.pages1{
  background-color: white;
}
.fix-box{
  background-color: green;
  color:#FFF;
}
/* UPDATE PAGE */
.updateHeader{
  text-align: center;
  width: auto;
  padding-top: 10%;
}
/* QUIZ PAGE is in its own file */
