{% extends 'base.html' %}
{% block the_block %}
<h1 class="mt-4 mb-3">FAQ
  <small>Tutorial</small>
</h1>
<div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card" style="background-color: #727F8C">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="color:white">Uploading Exams</a>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-body">
        <p>For uploading the exams you must start on the main page.</p>
        <ol>
          <li>Press the "Browse" button on the first box.</li>
          <li>Search your computer for the file you wish to upload.</li>
          <li>Press the "Upload" button.  The process may take up to 5 minutes.</li>
          <li>The next page shows you all the uncommon words and the definitions that were found.</li>
          <li>Click on the words that you don't want to have on your test.</li>
          <li>After you have finished your review press "Finished Review" to move on.</li>
          <li>Congratulations, you have successfully finished uploading your materials.  The "Code" will allow you and other users to access a quiz based on the uncommon words found in the uploaded materials.</li>
        </ol>
        <div class="jumbotron">
          <div class="videos">
            <h3>Example Video of Uploading Exam</h3>
            <video width="100%" height="100%" controls>
              <source src="static/image/faqUpload.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card" style="background-color: #727F8C">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color:white">Taking Quiz</a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-body">
        <p>For taking the quiz you must start on the main page and you have already have a code given to you by your teacher or from this website.</p>
        <ol>
          <li>Click on the textbox on the second box on the home page.</li>
          <li>Type in the code given to you.</li>
          <li>Press the "Enter" button to continue.</li>
          <li>Each word will have four different definitions and it's up to you to choose the correct one.</li>
          <li>Press "Finish Quiz" after you have finished the quiz.</li>
          <li>Congratulations, you have finished the quiz.  A score will be given to you and this website will show you all the correct words you got and all the words you got wrong and the correct definition for each word you got wrong.</li>
        </ol>
        <div class="jumbotron">
          <div class="videos">
            <h3>Example Video of Taking the Quiz</h3>
            <video width="100%" height="100%" controls>
              <source src="static/image/faqQuiz.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
{% endblock %}
