{% extends 'base.html' %}
{% block the_scripts %}
<script type="text/javascript">
        function loading(){
            $("#loading").show();
            $("#content").hide();
        }
</script>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i=0; i<messages.length; i++) {
        alert(messages[i]);
      }
    </script>
  {% endif %}
{% endwith %}
{% endblock %}
{% block the_block %}
<br>
<div class="row mb-4">
  <div class="col-md-8">
	 <p>This web application will allow exam writers to upload their exam so that a test will be generated based on uncommon words found on the exam.
      Students then can take the test to prepare themselves to the language they will come across on the exam without revealing the exam.</p>
	</div>
	 <div class="col-md-4">
		<a class="btn btn-lg btn-secondary btn-block" href="faq">Show Tutorial</a>
	 </div>
</div>
<div id="loading">
	<h2 class="loadingText">Please wait while we process your files</h2>
	<img class="loadingImg" src="/static/image/103.gif" alt="red"/>
	<h2 class="loadingText"> This process can take up to <b>5</b> minutes to complete its task.</h2>
</div>
<div id="content">
	<header>
    <div class="jumbotron jumbo-fix1">
      <h3>Upload your file here Files Allowed: [txt, doc, docx, obt, rtf, pdf, ppt, pptx]</h3>
      <form action="/review" method="post" enctype="multipart/form-data">
        <div class="form-group files">
          <input type="file" class="form-control" multiple="" name="exam">
        </div>
        <input type="submit" class="btn btn-success btn-lg btn-block" value="Upload" onclick="loading();"/>
      </form>
    </div>
    <div class="jumbotron jumbo-fix">
      <h3>Enter in a test code</h3>
      <form action="/process" method="post">
        <input type="text" class="form-control" name="test" />
        <br>
        <input type="submit" class="btn btn-success btn-lg btn-block" value="Enter" onclick="loading();"/>
      </form>
    </div>
  </header>
</div>
<br>
{% endblock %}
