{% extends 'base.html' %}
{% block the_scripts %}
<script type="text/javascript">
        function loading(){
            $("#loading").show();
            $("#content").hide();
        }
</script>
{% endblock %}
{% block the_block %}
<div id="loading">
	<h2 class="loadingText">Please wait while we process your files</h2>
	<img class="loadingImg" src="/static/image/103.gif" alt="red"/>
	<h2 class="loadingText"> This process can take up to <b>5</b> minutes to complete its task.</h2>
</div>
<div id="content">
	<header>
    <div class="jumbotron jumbo-fix1">
      <h3>Upload your file here</h3>
      <form action="/review" method="post" enctype="multipart/form-data">
        <div class="form-group files">
          <input type="file" class="form-control" multiple="" name="exam">
        </div>
        <input type="submit" class="btn btn-success btn-lg btn-block" value="Upload" onclick="loading();"/>
      </form>
    </div>
    <div class="jumbotron jumbo-fix">
      <h3>Enter in a test code</h3>
      <form action="/process" method="post">
        <input type="text" class="form-control" name="test" />
        <br>
        <input type="submit" class="btn btn-success btn-lg btn-block" value="Enter" onclick="loading();"/>
      </form>
    </div>
  </header>
</div>
<br>
<div class="row mb-4">
  <div class="col-md-8">
	 <p>To learn how to use this website and the functionality of it.  Please go to the FAQS and learn more about what this amazing product.</p>
	</div>
	 <div class="col-md-4">
		<a class="btn btn-lg btn-secondary btn-block" href="faq">Show Tutorial</a>
	 </div>
</div>
{% endblock %}
