{% extends 'base.html' %}

{% block the_block %}
		<p>
			<h2>
        Here are the words that were found to be uncommon.  Please check the
        ones you would like to keep.
      </h2>
      <form action='/update' method='POST'>
  			<ol>
  				{% for word, def in words.iteritems() %}
  					<li>
  						The found definition of: <b>{{word}}</b>
              </br>
              </br>
              {{def}}
              </br>
              <input type='checkbox' value='{{def}}' name='{{word}}' />
              Would you like to keep this?
              </br>
              </br>
              </br>
  					</li>
  				{% endfor %}
  			</ol>
        <input type="submit" value="submit" />
      </form>
		<p>
{% endblock %}
