{% extends 'base.html' %}
{% block the_block %}
<div class="updateHeader">
	<div class="jumbotron">
		<h2>Your test is saved... the code to take the test is: <kbd>{{code}}</kbd></h2>
	</div>
</div>
<div class="updateFile">
	<form action="/" method="get">
		<input type="submit" class="btn btn-success btn-lg btn-block" value="Upload another file" />
	</form>
</div>
<br>
<div class="updateTest">
	<form action="{{quiz_code}}" method="post">
		<input type="submit" class="btn btn-success btn-lg btn-block" value="Take the Test" />
	</form>
</div>
{% endblock %}
