{% extends 'base.html' %}
{% block the_block %}
<div class="updateHeader">
	<div class="jumbotron">
		<h2>Your test is saved... the code to for the test is: <kbd>7neSc669</kbd></h2>
	</div>
</div>
<div class="updateFile">
	<form action="/" method="get">
		<input type="submit" class="btn btn-success btn-lg" value="Upload another file" />
	</form>
</div>
<div class="updateTest">
	<form action="quiz?code=7neSc669" method="post">
		<input type="submit" class="btn btn-success btn-lg" value="Take the Test" />
	</form>
</div>
{% endblock %}
